<% if Rails.env.production? %>
  <div class="row padded_nicely">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- test1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3154444439610781"
         data-ad-slot="3311943876"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
<% else %>
  <div class="row padded_nicely mockad">
    <center>
      <h1>on production ad unit "test1"</h1>
    </center>
  </div>
<% end %>
