<div class="media">
  <div class="media-left">
    <%= fa_icon "user-md", class: "fa-5x media-object" %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to @surgeon.to_s, @surgeon.url %>
    </h4>
    <%= @surgeon.procedure_list %>
    <%= @surgeon.notes %>
  </div>
</div>
