#rails specific
*.sqlite3
#config/database.yml
log/*
tmp/*

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.sql
public/page_cache/*
public/system/pin_images/photos/*
public/system/*
/public/assets
# Ignore application configuration
/config/application.yml
coverage/*
spec/examples.txt
cookie_file

db/sphinx/
