<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= pluralize(object.errors.count, "error") %> on this form:</h2>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
