<div class="row">
  <div class="col-md-5">
    <%= render 'users/profile', locals: {resource_name: resource_name} %>
    <%= render 'users/settings', locals: {resource_name: resource_name} %>
  </div>
  <div class="col-md-6">
    <%= render 'users/submissions', locals: {resource_name: resource_name} %>
  </div>
</div>
<br clear="both">