<div class="control-group">
  <label class="control-label">Your experience in depth:</label>
  <div class="controls">
  </div>
  <%= tinymce %>
  <%= f.text_area :details, :class => "tinymce", :rows => 15, :cols => 50 %>
</div>