<div id="error_explanation submission_well">
  <h2><%= pluralize(form.errors.count, "error") %> prohibited this pin from being saved:</h2>
  <ul>
    <% form.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
