<table>
	<th><h2><%= title 'Do you have questions about transitioning?' %></h2></th>
	<th><h2>We have answers.</h2></th>
	<th><h2>See trans* patients like you.</h2></th>
	<tr>
		<td><%= image_tag("dysphoria2.png", :size => "400x400", :alt => "dysphoria", :padding => "10") %></td>
		<td><%= image_tag("dysphoria3.png", :size => "400x400", :alt => "key", :padding => "10") %></td>
		<td><%= link_to (image_tag("register.png", :size => "400x400", :alt => "key", :padding => "10")), register_path %></td>
	</tr>
</table>