<div class="row">
	<div class="span4">
		<h2>Do you have questions about transitioning?</h2>
	</div>
	<div class="span4">
		<h2>We have answers.</h2>
	</div>
	<div class="span4">
  <h2>See trans* patients like you.</h2>
  </div>
</div>
<div class="row">
	<div class="span4">
	<%= image_tag(image_path("dysphoria2.png"), :size => "400x400", :alt => "dysphoria", :padding => "10") %>
	</div>
	<div class="span4">
	<%= image_tag(image_path("dysphoria3.png"), :size => "400x400", :alt => "key", :padding => "10") %>
	</div>
	<div class="span4">
		<%= link_to (image_tag(image_path("register.png"), :size => "400x400", :alt => "key", :padding => "10")), register_path %>
  </div>
</div>
<br clear="both" />