<h2><%= title 'Admin Queue' %></h2>

<%= will_paginate @pins unless @pins.nil? %>
  <div id="pins" class="js-masonry" data-masonry-options='{ "columnWidth": 200, "itemSelector": ".box" }'>
  <%= render @pins unless @pins.nil? %>
  <br clear="both" />
  </div>
<%= will_paginate @pins unless @pins.nil? %>
<br clear="both" />