<h2><%= title 'Submissions By User Results' %></h2>
<div id="controls" class="row">
  <div class="page_container" class="col-md-6" style="float:left;">
    <%= will_paginate @pins unless @pins.nil? %>
  </div>
</div>
<br clear="both" />
<div id="pins" class="js-masonry" data-masonry-options='{ "columnWidth": 200, "itemSelector": ".box" }'>
  <div id="pin_container">
    <%= render @pins %>
  </div>
</div>
<br>
<br clear="both" />
<div class="page_container" class="col-md-6">
  <%= will_paginate @pins unless @pins.nil? %>
</div>
