<%= javascript_include_tag "pins" %>
<% if params[:query].present? %>
<% title 'Search Result for ' + params[:query].titleize %>
<% else %>
<% title 'Recent Submissions' %>
<% end %>
<div id="pins" class="js-masonry" data-masonry-options='{ "columnWidth": 200, "itemSelector": ".box" }'>
  <div id="pin_container">
    <%= render @presenter.pins %>
  </div>
</div>
<br>
<br clear="both" />
<div class="page_container col-md-6 pull-right">
  <%= will_paginate @presenter.pins unless @presenter.pins.empty? %>
</div>