<% if user_signed_in? %>
<% if params[:query].blank? %>
<h1>Latest submissions</h1>
<% else %>
<h1>Search result</h1>
<% end %>
<div id="pins">
<%= will_paginate @pins %>
<%= render @pins %>
</div>

<% else %>
<%= render @user.pins %>
<% end %>
<br clear="both" />
<%= will_paginate @pins %>