<%= javascript_include_tag "pins" %>
<% if params[:query].present? %>
  <% title 'Search Result for ' + params[:query].titleize %>
<% else %>
  <% title 'Recent Submissions' %>
<% end %>
<div id="pins">
  <%= render @presenter.pins %>
</div>
<div id="paginator">
  <%= will_paginate @presenter.pins, renderer: BootstrapPagination::Rails unless @presenter.pins.empty? %>
</div>
