<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name %>!</h1>
    <p>
      Another member has posted a comment on your submission.
    </p>
    <p>
      If you'd like to reply click here: <%= @url %>.
    </p>
  </body>
</html>