<div class="fallback">
  <div class="dropzone" id="dropper">
    <div class="fallback">
      <%= form_for(PinImage.new, html: {multipart: true}) do |pin_image_form| %>
      <%= pin_image_form.file_field :photo %>
      <%= pin_image_form.text_field :caption %>
      <% end %>
    </div>
  </div>
</div>
<button id="submit-all" class="btn btn-primary">Upload photos</button>
<div class="hide">
  <div class="dz-preview dz-file-preview">
    <div class="dz-details">
      <div class="dz-filename">
        <span data-dz-name></span>
        <img data-dz-thumbnail />
      </div>
      <input class="caption" type="text" placeholder="Caption">
    </div>
    <div class="dz-progress">
      <span class="dz-upload" data-dz-uploadprogress></span>
    </div>
    <div class="dz-success-mark">
      <span>✔</span>
    </div>
    <div class="dz-error-mark">
      <span>✘</span>
    </div>
    <div class="dz-error-message">
      <span data-dz-errormessage></span>
    </div>
  </div>
</div>