<div class="fallback">
  <div id="persisted_pins">
    <%= render 'pin_images/persisted' %>
  </div>
  <div class="dropzone" id="dropper">
    <div class="fallback">
      <%= form_for(PinImage.new, html: {multipart: true}) do |pin_image_form| %>
      <%= pin_image_form.file_field :photo, multiple: true, name: "pin_image[photo]" %>
      <%= pin_image_form.text_field :caption %>
      <% end %>
    </div>
  </div>
</div>