<div class="row">
	<div class="span6 offset3">
		<div class="well">
		<p>
  <b>Description:</b>
  <%= @pin.description %>
</p></div>
</div>
</div>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>