<h2>Update</h2>
<div class="center hero-unit">
  <p><strong>TransBucket.com</strong> has moved to a new app, which means many of your old bookmarks will no longer be correct. Please navigate to the main page of the site and use the top menu to find what you're looking for. If you have a moment, please help us improve by filling out <a href="http://www.surveymonkey.com/s/ZS7MB59">our update survey</a>.</p>
  <p>Some sections of the old site have been retired, and some sections are on hiatus currently.
    <ul>
      <li>The forum has been retired, but we invite you to use our new comment functionality.</li>
      <li>The surgeons, therapists, procedures, and therapies pages are on hiatus. They were badly in need of updating, and we are still looking for volunteers. We're considering creating a wiki in place of the old lists. None of the data has been lost.</li>
      <li>A few of the old submissions were not transferable because users deleted their accounts. If you do not see your submission, please resubmit it!</li>
    </ul>
<p>Have more questions or feedback about the changes? You can contact us using this <%= link_to "Contact Form", contact_path %> or by email to <a href="mailto:webmaster@transbucket.com">Alex</a> about site issues. If you'd like to volunteer, please let us know. Members of currently underrepresented communities will be given priority.</p>
</div>
<br>