<%= render partial: 'ads/test1' %>
<h2><% title 'Newsfeed' %></h2>
<div class="center">
  <% for e in @rss do %>

    <div class="rss_item">
      <p><%= @coder.decode("#{e.description}").html_safe %></p>
      <%= link_to @coder.decode("#{e.pubDate}").html_safe, @coder.decode("#{e.link}").html_safe %>
    </div>
    <br>

  <% end %>
</div>
