<div class="center hero-unit">
<h2>Privacy Policy</h2>
<ul>
<li>Transbucket keeps a secure database of any details submitted to us. We ask that you use a real email address, but your other details can be as anonymous as you choose.</li>
<li>Transbucket <b>will never give third parties access to your data or submissions</b>.</li>
<li>Transbucket does not allow providers to submit content on behalf of trans* patients or contact patients about previous procedures. Please contact us if you're a provider and want to submit content or remediate a dispute.</li>

</div>
<br>