<div class="center hero-unit">
<h2><%= title 'Terms of Service' %></h2>
<ul>
<li>By registering on Transbucket, you agree to not share any content contained in the photo galleries without express permission of the author. Malicious sharing of private content will be prosecuted to the fullest extent of the law.</li>
<li>By submitting any content onto Transbucket, you agree the content contains no spam, viruses, worms, malware, or hate speech.</li>
<li>By viewing any content on Transbucket, you agree to take responsibility for your reaction to any material therein. Transbucket can not be held liable for any reaction of dysphoria, triggering, or upset. While we do what we can to moderate the content of the site, please remember to use caution in viewing a site with sometimes graphic surgical photos and representations.</li>
</ul>
</div>
<br>