<% title '404' %>
<h2>(⊙_☉) | Error Code: 404</h2>
<div class='well'>Shoot! We were unable to find the content you requested. Try going <%= link_to 'back', :back %> or <%= link_to 'contact us about this error', contact_path %>.</div>