<% title '500' %>
<h2>(⊙_☉) | Error Code: 500</h2>
<div class='well'>Dang! Our server experienced an error when you made your last request. Try going <%= link_to 'back', :back %> or <%= link_to 'contact us about this error', contact_path %>.</div>