{% extends "admin/change_form.html" %}
{% block extrahead %}
{{ block.super }}
<style>
#photoordering_set-group tbody .handle {
	background: transparent url({{ CMS_MEDIA_URL }}/images/sitemap-li-drag.gif) no-repeat;
	height: 100%;
	width: 14px;
	display: inline-block;
}

#photoordering_set-group tbody td.original {
	width: 70px;
}
#photoordering_set-group tbody tr.has_original td {
	padding-top: 5px;
}

#photoordering_set-group tbody tr.has_original td.order {
	/*width: 0px;*/
}

</style>
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/lib/jquery.js"></script>
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/lib/ui.core.js"></script>
<script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/lib/ui.sortable.js"></script>
<script type="text/javascript">
(function($) {
	$(document).ready(function() {
		var sort_updated = function(event, ui) {
			var result = $(this).sortable('toArray');
			
			for (var i=0; i < result.length; i++) {
				if ($('#'+result[i]+' td.photo select').val()) {
					$('#' + result[i] + ' td.order input').val(i+1);
				}
			}
		};
		
		$('#photoordering_set-group tbody').sortable({
			items: 'tr.dynamic-photoordering_set',
			axis: 'y',
			update: sort_updated,
			handle: 'div.handle'
		});
		$('#photoordering_set-group td.original').prepend('<div class="handle">&nbsp;</div>');
		$('#photoordering_set-group td.order input').hide();
		//$('#photoordering_set-group td.order input').attr('disabled','disabled');
	});
	
})(jQuery);
</script>
{% endblock %}