<tr itemscope itemtype="https://schema.org/MedicalProcedure">
  <td><%= link_to procedure.name, procedure_path(procedure) %></td>
  <td><%= procedure.avg_satisfaction %></td>
  <td><%= procedure.avg_sensation %></td>
  <td><%= procedure.comment_threads.count %></td>
</tr>
