<div id="procedures" style="background-color:#ffffff">
  <table class="table table-hover table-bordered" bgcolor="#ffffcc">
    <th>Name</th>
    <th>Average Satisfaction</th>
    <th>Average Sensation</th>
    <%= render @procedures %>
  </table>
</div>
