<div id="procedures">
  <table class="table table-hover table-bordered">
    <th>Name</th>
    <th>Average Satisfaction</th>
    <th>Average Sensation</th>
    <%= render @procedures %>
  </table>
</div>
