// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.rss_item {
  background-color: #fff;
  padding: 15px;
}

div.faq_item {
  background-color: #fff;
  padding: 15px;
}

div.nice-font {
  font-family: 'Open Sans', sans-serif;
}
