$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: purple;

/*@import 'bootstrap';

@import 'bootstrap-responsive';*/

body{
  padding-top: 60px;
  padding-bottom: 70px;
  background-color:#ccc;
}

.ms-container {
  height: 100px;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.yellow {
  color: #FCC000;
}

.hide {
  display: none;
}

/* Required for jQuery Masonry */

/* mobile first */
$small: 600px;
$medium: 900px;

.item {
  padding: 10px;
  @media screen and (max-width: $small) {
    width: 100%;
  }
  @media screen and (min-width: $medium) {
    width: 25%;
  }
}

.item.w2 { width: 50%; }
.item img {
  width: 100%;
}

.mockad {
  outline: 5px dotted green;
}

p {
  padding: 5px;
}

.description {
  margin: 10px;
}

.gender {
  margin-left: 20px;
}

.form-search {
  margin: 0px;
  margin-top:5px;
  padding: 0px;
}

.comment_box {
  position:absolute;
  top:5px;
  left:5px;
  background-color:#999;
  opacity:0.6;
  width:95%;
}

.comment_box p {
  font-size: 14px;
  color: #000000;
}

.comment_box.fa {
  color: red;
}

.icon-flag {
  color: red;
}

.actions {
  font-size: 14px;
}

.actions a:link, a:visited, a:hover {
  color: black;
}

#controls {
  text-align:center;
}

.profile_well {
  background-color: #fff;
  padding: 15px;
}

.profile_well .input-group {
  padding: 5px;
  margin: 5px;
}

.login_well {
  background-color: #fff;
  padding: 15px;
}

.submission_well {
  background-color: #fff;
  padding: 15px;
}

.padded_nicely {
  padding: 10px;
  margin: auto;
}

#details {
  background-color: #fff;
  padding: 10px;
}
#details p {
  display: inline;
  font-size: 14px;
}

.center {
  margin: 0 auto;
  float: none;
}

.top-block {
  background-color: #FCC000;
  padding: 15px;
}

ul.dropdown-menu {
  padding: 10px;
  width: 250px;
}

.chosen-container{
  margin-top: 10px;
}
