$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: purple;

@import 'bootstrap';
body{
    padding-top: 60px;
    background-color:#ccc;
}

@import 'bootstrap-responsive';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}

/* Required for jQuery Masonry */

.box {
	margin: 10px;
	padding: 10px;
	font-size: 11px;
	line-height: 1.4em;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	background-color:#fff;
  overflow:hidden;

}

.box img {
	display: block;
    margin:auto;
    height:200px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px;
}

.pagination {
    margin: 0;
    padding: 5px 10px 5px 10px;
}

.pagination a {
    padding: 0px 5px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.pagination.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.pagination.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

select {
    margin: 0px;
    margin-bottom:5px;
    width: 220px;
}

.gender {
    margin-left: 20px;
}

.form-search {
    margin: 0px;
    margin-top:5px;
    padding: 0px;
}

.image {
  position: relative;
  width: 100%;
}

.comment_box {
  position:absolute;
  top:5px;
  left:5px;
  background-color:#999;
  opacity:0.6;
  width:95%;
}

.comment_box p {
  font-size: 14px;
  color: #000000;
}

.icon-flag {
  color: red;
}

.label-with-popover {
  display: inline;
}
.actions {
  font-size: 14px;
}

.actions a:link, a:visited, a:hover {
  color: black;
}

#controls {
  text-align:center;
}