<div class="footer navbar-fixed-bottom submission_well">
  <small> &nbsp;
  <b>2014</b> &copy; Transbucket.com |
  <%= link_to 'Terms of Service', terms_path %> | <%= link_to 'Privacy Policy', privacy_path %>
  </small>
</div>