<% cache do %>
<div class="footer navbar-fixed-bottom submission_well">
  <small> &nbsp;
  <b><%= Date.today.year %></b> &copy; Transbucket.com |
  <%= link_to 'Terms of Service', terms_path %> |
  <%= link_to 'Privacy Policy', privacy_path %>
  </small>
</div>
<% end %>
