<div class="footer navbar-fixed-bottom submission_well">
<% cache(I18n.locale || Date.today.year) do %>
  <small> &nbsp;
  <b><%= Date.today.year %></b> &copy; Transbucket.com |
  <%= link_to I18n.t('.footer.about'),  about_path %> |
  <%= link_to I18n.t('.footer.tos'), terms_path %> |
  <%= link_to I18n.t('.footer.pp'), privacy_path %>
  </small>
<% end %>
</div>
