<div class="footer">
  <small>
  	<b>2013</b> &copy; Transbucket.com |
    <%= link_to "Terms of Service", "http://onemonthrails.com" %>
    | <%= link_to "Privacy Policy", "http://mattangriffel.com" %> 
  </small>
</div>