<div class="footer navbar-fixed-bottom submission_well">
<% cache(Date.today.year) do %>
  <small> &nbsp;
  <b><%= Date.today.year %></b> &copy; Transbucket.com |
  <%= link_to 'About',  about_path %> |
  <%= link_to 'Terms of Service', terms_path %> |
  <%= link_to 'Privacy Policy', privacy_path %>
  </small>
<% end %>
</div>
